.container {
  display: grid;
  width:100%;
  grid-template-columns:
      10% repeat(28, 4fr);
  grid-row-gap:3px;
  justify-items: center;
  border:1px solid black;
}

.inp {
  width:50%;
  justify-content: center;
  text-align: center;
  background: none;
  border:none;
}

.item {
  align-self: center;
  justify-items: center;

}