:root {
  --scrub-green: #3da898;
  --off-white: #f3fefc;
  --dark-gray: #23272a;
  --text-blue: #78c2e0;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  height: 100vh;
}

.Nav {
  height: 100%;
  width: 200px;
  background-color: var(--scrub-green);
  position: relative;
}

.nav-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-selected {
  background-color: var(--dark-gray);
}

.nav-not-selected {
  background-color: var(--scrub-green);
}

.nav-row:hover {
  background-color: #23272a9a;
  cursor: pointer;
}

.nav-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.redirect {
  width: 100%;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--off-white);
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

a > * {
  margin-left: 15px;
}

svg {
  font-size: 26px;
  font-weight: 900;
}

.error {
  position: relative;
  top: 20%;
  color: rgb(255, 96, 96);
  height: 20%;
  font-size: 26px;
  text-align: center;
}

/* --------- clerk -------- */
.cl-userButtonBox {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  /* flex-direction: row-reverse; */
}
.cl-userButtonBox > p {
  color: var(--scrub-green);
}
.cl-userButtonTrigger > div {
  outline: 2px solid var(--scrub-green);
  width: 50px;
  height: 50px;
}

