.grid {
  display: grid;
  width:100%;
  min-width: 600px;
  grid-template-columns: 10% repeat(28, 4fr);

  /* grid-template-rows:
  min-content 1fr min-content,
  100px 1fr max-content
  10% repeat(28, 4fr); */
  grid-auto-rows: minmax(50px, auto);


  grid-row-gap:1px;
  grid-column-gap:5px ;
  justify-items: center;
  border:1px solid black;
  margin: 5px;

}
/* .container > * {
  background-color: #0ec398;
} */

.item{
  color: blanchedalmond;
}

.shift {
  width:85%;
  justify-content: center;
  text-align: center;
  background: none;
  border:1px solid gray;
  color:rgb(0, 0, 0);
  align-self: center;
  justify-items: center;
  padding: 10px;
  margin: 10px;
}
.row-header{
  color:rgb(183, 26, 26);
  grid-row: auto;
  grid-column: 1;
  border: 1px solid black;
  padding: 10px;
}

.day-num{
  color: rgb(226, 214, 43);
  /* grid-row: 1; */

}



.LD{
  background-color: green;
}

.E{
  background-color: rgb(138, 207, 34);
}
.N{
  background-color: rgb(49, 49, 211);
}

.PersonRow{
  border: 1px solid tomato;
}