.grid {
  display: grid;
  width: 80%;
  min-width: 720px;
  grid-template-columns: 15% repeat(28, 3%);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  justify-items: center;
  margin-top: 8%;
  position: relative;
  left: 5%;
}

.shift {
  width: 85%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: rgb(0, 0, 0);
  align-self: center;
  justify-items: center;
  border-radius: 5px;
  font-weight: 900;
  text-transform: uppercase;
}

.shift-0 {
  background-color: rgb(120 194 224);
}
.shift-1 {
  background-color: rgb(222 247 243);
}
.shift-2 {
  background-color: rgb(61 168 152);
}
.shift-3 {
  background-color: rgb(70 104 109);
  color: rgb(222 247 243);
}
.shift-4 {
  background-color: rgb(70, 91, 113);
  color: rgb(255, 247, 247);
}
.shift-5 {
  background-color: rgb(22, 41, 44);
  color: rgb(222 247 243);
}

.column-header {
  color: rgb(222 247 243);
  font-size: 20px;
  font-weight: 700;
}

.colum-header-seventh {
  color: rgb(61 168 152);
  font-weight: 900;
}

.rota-row-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: auto;
  text-transform: capitalize;
  text-align: center;
  color: rgb(222 247 243);
  border: none;
  font-size: 14px;
  font-weight: 700;
}

.rota-row-header > * {
  margin-top: 1px;
  margin-bottom: 1px;
}

.tot-hours {
  font-size: 10px;
  color: aqua;
}
