.emp-table {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 80%;
  border-radius: 50px;
  border-spacing: 5px;
  text-align: start;
}

.employee-input {
  height: 12px;
  width: 80%;
  font-size: 18px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border: none;
  color: rgb(120 194 224);
}

.employee-input:focus {
  outline-color: rgb(11, 156, 179);
  outline-style: ridge;
  border-radius: 5px;
  padding: 10px;
}

.add-input {
  height: 12px;
  width: 80%;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  outline-color: rgb(11, 156, 179);
  background-color: rgba(52, 129, 121, 0.422);
  color: aliceblue;
  outline: none;
  border: none;
}

.add-input::placeholder {
  color: #a0a0a0;
}

tr {
  border-bottom: 1px solid rgba(135, 254, 236, 0.1);
  background-color: transparent;
}
tr:hover {
  background-color: rgba(43, 69, 80, 0.07);
}

th {
  height: 40px;
  color: rgb(222 247 243);
  font-size: 22px;
  font-weight: 900;
  text-align: start;
}

/* ========== butttons =========== */
.add-btn:hover {
  color: rgb(7, 182, 83);
}

.add-btn {
  color: rgb(130, 130, 130);
}

.delete-btn:hover {
  color: rgb(208, 11, 11);
}

.delete-btn {
  color: rgb(130, 130, 130);
}

.employee-btn {
  border: none;
  border-radius: 50px;
  background-color: transparent;
}
