.shifts-table {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 80%;
  border-radius: 50px;
  border-spacing: 5px;
  /* text-indent:5px; */
  text-align: start;
}

.shift-input {
  text-transform: capitalize;
  height: 12px;
  width: 80%;
  font-size: 18px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border: none;
  color: rgb(120 194 224);
}

.abr {
  text-transform: uppercase;
}

.shift-input:focus {
  outline-color: rgb(61 168 152);
  outline-style: ridge;
  border-radius: 5px;
  padding: 10px;
}

.add-input {
  height: 12px;
  width: 80%;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  outline-color: rgb(11, 156, 179);
  background-color: rgba(52, 129, 121, 0.422);
  color: aliceblue;
  outline: none;
  border: none;
}

tr {
  border-bottom: 1px solid rgba(135, 254, 236, 0.1);
  background-color: transparent;
}

th {
  height: 40px;
  color: rgb(222 247 243);
  font-size: 22px;
  font-weight: 900;
  text-align: start;
}

/* ========== butttons =========== */
.add-btn:hover {
  color: rgb(7, 182, 83);
}

.add-btn {
  color: rgb(130, 130, 130);
}

.delete-btn {
  color: rgb(130, 130, 130);
}

.shift-btn {
  border: none;
  border-radius: 45%;
  background-color: transparent;
}
input[type='time']::-webkit-calendar-picker-indicator {
  color: rgb(18, 18, 164);
}

input[type='time']::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 10%;
  left: 35%;
  color: blueviolet;
}
